@import url('https://fonts.googleapis.com/css2?family=Geist:wght@500&family=Roboto+Flex:opsz,wght@8..144,87.5,500..700&display=swap');
@import "tailwindcss";

@layer utility {
  body {
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
    @apply text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  input,
  textarea,
  button {
    @apply focus:outline-none;
  }

  input {
    @apply focus:border-primary-400;
  }
}

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --font-geist: Geist, sans-serif;
}