@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Flex:opsz,wdth,wght@8..144,75,100..1000&display=swap');
@import "tailwindcss";

@layer utilities {
  .font-roboto {
    font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
  }

  .font-geist {
    font-family: 'Geist', Arial, Helvetica, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  input,
  textarea,
  button {
    @apply focus:outline-none;
  }

  input {
    @apply focus:border-primary-400;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  ::-webkit-scrollbar-button {
    display: none !important;
  }

  * {
    scrollbar-width: thin;
  }

  /* Button Components */
  .btn-primary {
    @apply inline-flex items-center justify-center h-9 gap-2 px-4 sm:px-5 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-primary-500 focus:bg-primary-700 disabled:cursor-not-allowed disabled:border-primary-300 disabled:bg-primary-300 disabled:shadow-none;
  }

  .btn-primary-icon {
    @apply inline-flex items-center justify-center h-9 w-9 text-sm font-medium tracking-wide text-white transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-primary-500 focus:bg-primary-700 disabled:cursor-not-allowed disabled:border-primary-300 disabled:bg-primary-300 disabled:shadow-none;
  }

  .btn-neutral-icon {
    @apply inline-flex items-center justify-center h-9 w-9 gap-2 text-sm font-medium tracking-wide text-white transition duration-300 whitespace-nowrap bg-neutral-500 focus:bg-neutral-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-neutral-300 disabled:bg-neutral-300 disabled:shadow-none;
  }

  .btn-neutral {
    @apply inline-flex items-center justify-center h-9 gap-2 px-4 sm:px-5 text-sm font-medium tracking-wide text-white transition duration-300 whitespace-nowrap bg-neutral-500 focus:bg-neutral-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-neutral-300 disabled:bg-neutral-300 disabled:shadow-none;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center h-9 gap-2 px-4 sm:px-5 text-sm font-medium tracking-wide transition duration-300 rounded focus-visible:outline-none whitespace-nowrap bg-white text-neutral-700 border border-neutral-300 hover:bg-neutral-50 focus:bg-neutral-100 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-ghost-icon {
    @apply inline-flex items-center justify-center h-9 w-9 text-sm font-medium tracking-wide transition duration-300 rounded focus-visible:outline-none whitespace-nowrap text-neutral-700 hover:bg-neutral-100 focus:bg-neutral-200 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-group {
    @apply inline-flex overflow-hidden divide-x rounded divide-neutral-100;
  }
}

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --font-geist: Geist, sans-serif;
}